@model IEnumerable<ReadExpensesViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Последние зартаты</h1>

<p>
    <a asp-action="Create">Добавить платеж</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Время
            </th>
            <th>
                Категория
            </th>
            <th>
                Стоимость
            </th>
            <th>
                Описание
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost) грн
            </td>
            <td>
                @if(item.Commentary != null)
                {
                    @Html.DisplayFor(modelItem => item.Commentary)
                }
                else
                {
                    <text>(Отсутствует)</text>
                }
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id=item.Id })
                @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
